{{!--  Media  --}}
<div class="media {{~#if passthrough}} passthrough {{~/if}}">
    {{#if isVideo}}
        <video
            {{~#if metadata}} preload="metadata" {{~/if}}
            {{~#if lazyLoad}} data-src{{~else}} src{{~/if}}="{{src}}"
            {{~#if autoplay}} autoplay {{~/if}}>
        </video>
        {{#if videoIcon}}
            <i class="video-icon {{videoIcon}}"></i>
        {{/if}}
    {{else}}
        <img {{~#if lazyLoad}} data-src{{~else}} src{{~/if}}="{{src}}" />
    {{/if}}
</div>
