<region-selector>
    {{!-- Instructions --}}
    {{~#if regions.length}}
        <p class="hint">{{localize "share-media.shareables.selector.region.description"}}</p>
    {{~else}}
        <p class="hint">
            {{{localize "share-media.shareables.selector.region.zero" type=(localize "TYPES.RegionBehavior.share-media.ShareRegion")}}}
        </p>
    {{~/if}}

    {{!-- Regions --}}
    <div class="scrollable flexcol">
        {{~#each regions as |region|}}
            <div class="form-group" data-region-id="{{region.id}}">
                {{!-- Label --}}
                <label for="{{region.id}}" class="flexrow" data-action="activateRegion">
                    <i class="shm square padded pip" style="--pip-color: {{region.color.css}}"></i>{{region.name}}
                </label>

                {{!-- Field --}}
                <div class="shm form-fields">
                    <input type="radio" name="region" id="{{region.id}}" value="{{region.id}}"
                        {{~#if region.checked}}checked{{~/if}} data-action="activateRegion">
                </div>
            </div>
        {{~/each}}
    </div>

    {{!-- Footer --}}
    <footer class="form-footer">
        <button type="submit">
            {{~#if regions.length}}
                <i class="{{icons.validate}}"></i>
                {{localize "share-media.base.validate"}}
            {{~else}}
                <i class="{{icons.cancel}}"></i>
                {{localize "share-media.base.cancel"}}
            {{~/if}}
        </button>
    </footer>
</region-selector>
