<media-overlay>
    <section>
        {{!-- Settings --}}
        <div class="drawer">
            <button class="small plain icon {{icons.settings}}" data-tooltip="share-media.ui.settings.label"
                data-tooltip-direction="LEFT" keep-hover></button>
            <aside>
                <menu>
                    {{!-- Generate menu based on available media settings --}}
                    {{~#each mediaSettings as |setting|}}
                        {{~#if setting.isVisible}}
                            <li>
                                {{localize (concat "share-media.ui.settings." setting.label)}}
                                <menu>
                                    {{~#each setting.options as |option|}}
                                        <li role="button" {{~#if option.value}} class="active" {{~/if}}
                                            data-action="configureSetting"
                                            data-category="{{setting.category}}"
                                            data-setting="{{option.name}}"
                                            data-tooltip="{{localize (concat "share-media.ui.settings." option.description)}}"
                                            data-tooltip-direction="RIGHT">
                                            <i class="{{lookup @root.icons option.name}}"></i>
                                            {{localize (concat "share-media.ui.settings." option.label)}}
                                        </li>
                                    {{~/each}}
                                </menu>
                            </li>
                        {{~/if}}
                    {{~/each}}
                </menu>
            </aside>
        </div>


        {{!-- Actions --}}
        {{~#each mediaActions as |mode|}}
            <div class="drawer">
                {{!-- Generate actions based on available media actions --}}
                {{~#each mode as |action|}}
                    <button class="small icon {{lookup @root.icons action.icon}}"
                        data-action="share" data-mode="{{action.mode}}"
                        data-option-name="{{action.optionName}}" data-option-value="{{action.optionValue}}"
                        data-tooltip="{{localize (concat "share-media.ui.actions." action.label)}}"
                        data-tooltip-direction="{{ifThen @first "LEFT" "RIGHT"}}">
                    </button>
                    <!-- format-ignore -->
                    {{~#if @first}}<aside>{{~/if}}
                    {{~#if @last}}</aside>{{~/if}}
                {{~/each}}
            </div>
        {{~/each}}
    </section>
</media-overlay>
